[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rodd"]
	path = rodd
	url = https://github.com/cran/rodd
	shallow = true
	registered = true
